<h1>Parks</h1>

<p>Total Parks: <%= @parks.length %></p>

<% @parks.each do |park| %>
  <div id="park-<%= park.id %>">
    <p>Name: <%= park.name %></p>
    <p>Description: <%= park.description %></p>
    <p>Directions: <%= park.directions %></p>
    <p>Hours: <%= park.hours %></p>
  </div>
<% end %>
